v3/Glyph/ChangeRequest.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.loc.gov/standards/alto/ns-v3#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.loc.gov/standards/alto/ns-v3#" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.1">
    <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.loc.gov/standards/xlink/xlink.xsd"/>
    
    <xsd:complexType name="StringType" mixed="false">
        <xsd:annotation>
            <xsd:documentation>
                A sequence of characters. Strings are separated by white spaces or hyphenation chars.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element name="Shape" type="ShapeType" minOccurs="0"/>
            <xsd:element name="Alternative" minOccurs="0" maxOccurs="unbounded"/>
                <!-- .............. -->
                
            <xsd:element name="Glyph" type="GlyphType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GlyphType" mixed="false">
        <xsd:annotation> 
            <xsd:documentation>
                Modern OCR software stores information on glyph level. A glyph is essentially a character or ligature.
                Accordingly the value for the glyph element will be defined as follwed:
                Precomposed representation = base + combining character(s) (decomposed representation)
                See http://www.fileformat.info/info/unicode/char/0101/index.htm
                "U+0101" = (U+0061) + (U+0304)
                "combining characters" ("base characters" in combination with non-spacing characters which are combined to one) are represented as one "glyph", e.g. áàâ.
                
                Each character has its own coordinate information and must be separately addressable as a distinct object.
                Correction and verification processes can be carried out for individual characters.
                
                Post-OCR analysis of the text as well as adaptive OCR algorithm must be able to record information on character level.
                In order to reproduce the decision of the OCR software, optional characters must be recorded. These are called variants.
                The OCR software evaluates each variant and picks the one with the highest confidence score as the glyph.
                The confidence score expresses how confident the OCR software is that a single glyph had been recognized correctly.
                
                The glyph elements are in order of the word. Each character need to be recorded to built up the whole word sequence.
                
                The glyph’s CONTENT attribute is no replacement for the string’s CONTENT attribute.
                Due to post-processing steps such as correction the values of both attributes may be inconsistent. 
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element name="Shape" type="ShapeType" minOccurs="0"/>
            <xsd:element name="Variant" type="VariantType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="ID" type="xsd:ID" use="optional"/>
        <xsd:attribute name="CONTENT" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    CONTENT contains the precomposed representation (combining character) of the character from the parent String element.
                    The sequence position of the Gylph element matches the position of the character in the String.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:length fixed="true" value="1"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="VALID">
            <xsd:annotation>
                <xsd:documentation>
                    This attribute express the confidence of the glyph. This attribute can be used as parameter for post-processing operation to improve OCR results 
                    for characters marked as "suspicious" or even "rejected". 
                    - "c": "correct" - Expresses that the glyph is recognized as correct.
                    - "s": "suspicious" - Expresses that the glyph is a suspicious character. The engine  is not confident that it has recognized the glyph correctly.
                    - "r": "rejected" – The character has been rejected; the engine is confident that this character is not correct.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="s"/>
                    <xsd:enumeration value="r"/>
                    <xsd:enumeration value="c"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="HEIGHT" type="xsd:float" use="optional"/>
        <xsd:attribute name="WIDTH" type="xsd:float" use="optional"/>
        <xsd:attribute name="HPOS" type="xsd:float" use="optional"/>
        <xsd:attribute name="VPOS" type="xsd:float" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="VariantType" mixed="false">
        <xsd:annotation>
            <xsd:documentation>
                Alternative character for the glyth, outlined by OCR engine or similar recognition processes.
                In case the variant are two (combining) characters, two characters are outlined in one Variant element.
                E.g. a Glyph element with CONTENT="m" can have a Variant element with the content "rn".
                Details for different use-cases see on the samples on GitHub.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:m fixed="true" value="2"/>
                        <xsd:whiteSpace value="preserve"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:extension>
        </xsd:simpleContent>
        <xsd:attribute name="VC" type="xsd:float" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Each variant represents an option for the glyph that the OCR software could have chosen.
                    The element’s VC attribute records a float value between 0.0 and 1.0 that expresses
                    the level of confidence for the variant where is 1 is confident.
                    This attribute is optional. If it is not available, the default value for the variant is “0”.
                    The VC attribute semantic is the same as the GC attribute on the Glyph element.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:float">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>