use-cases/alto-dialect/alto-BnF-V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Organisme : Bibliothèque nationale de France
Auteur : BnF/DSR/DSI/SED/BEA
Auteur : Catherine LEROUGE
Auteur : Laurent DUPLOUY
Auteur : Jean-Philippe MOREUX

Version 7 / avril 2014
Statut : 
Utilisation du mécanisme xsd:redefine afin de dériver le schéma BnF du schéma LoC 


Version 6 du 10 avril 2012
Statut : validée
Ajout d'un paquet de livraison à Spar.
Par rapport à la version 5, pas de modification Alto

Version 5 du 19 janvier 2012
Statut : validée
Ajout d'un attribut TYPE (avec liste de valeurs contrôlée),
dans le type "StringType" (utilisé pour définir l'élément "String").

Version 4.0 du vendredi 20 mai 2011
Statut : reportée
Modification du pattern de /alto/@ID, une longueur de 8 caractères est désormais acceptée (en plus de 6 et 7).

Version 3.0 du jeudi 5 novembre 2009, 17:35:03
Statut : retirée
Patch par Philippe Prados. 
Remplacement des classes de caractères [0-9] dans les expressions régulières par la pseudo-classe /d. 

Version 1.12 du 04 décembre 2007
Statut : retirée
Définition du pattern de /alto/@ID avec longueur de 6 ou 7 caractères
Ajout de l'attribut WD (Word Dictionary) dans String (présence ou pas dans le dictionnaire)

Version 1.11 du 17 novembre 2006
Statut : retirée
Suppression contrainte sur élément PrintSpace => un élément Page peut être vide (il contient alors l'attribut PAGECLASS='BlankPage')

Version 1.1 du 28 février 2006
Statut : retirée
Ajout de containtes. Création du nameSpace "http://bibnum.bnf.fr/ns/alto_prod"

Version 1 du 9 février 2006
Statut : retirée
Les évolutions par rapport à la version de la LOC sont annotées avec la mention "ajout LAD"
-->
<xsd:schema xmlns="http://www.loc.gov/standards/alto/ns-v2#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/TR/xlink" targetNamespace="http://www.loc.gov/standards/alto/ns-v2#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--                             -->
	<!--   Dérivation du schéma BnF à partir du schéma LoC     -->
	<xsd:redefine schemaLocation="alto-loc-2.1_with_named_types.xsd">
		<!--                             -->
		<!-- BnF patterns on ID -->
		<xsd:complexType name="altoType">
			<xsd:annotation>
				<xsd:documentation>Ajout LAD du 7 novembre 2005.</xsd:documentation>
				<xsd:documentation>Ajout d'un attribut ID qui référence l'ID du document numérique. </xsd:documentation>
				<xsd:documentation>Modification du 04 décembre 2007 - définition du pattern de /alto/@ID avec longueur de 6 ou 7 caractères</xsd:documentation>
				<xsd:documentation>Modification du 20 mai 2011 - modification du pattern de /alto/@ID : une longueur de 8 caractères est désormais acceptée</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="altoType">
					<xsd:attribute name="ID" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:ID">
								<xsd:pattern value="alto.\d{6,8}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
		<!--                                   -->
		<xsd:simpleType name="PageSpaceTypeID">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS LAD</xsd:documentation>
				<xsd:documentation>Ajout d'un pattern sur l'attribut ID</xsd:documentation>
				<xsd:documentation>exemple :  ID="PAG_00000002_TopMargin"</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="PageSpaceTypeID">
				<xsd:pattern value="PAG_\d*_((Top|Bottom|Left|Right)Margin|PrintSpace)"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                                           -->
		<xsd:simpleType name="SPTypeID">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS LAD</xsd:documentation>
				<xsd:documentation>Ajout d'un pattern sur l'attribut ID</xsd:documentation>
				<xsd:documentation>exemple :  ID="PAG_00000002_SP000002"</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="SPTypeID">
				<xsd:minLength value="1"/>
				<xsd:pattern value="PAG_\d*_SP\d{6}"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                                   -->
		<xsd:complexType name="SPType">
			<xsd:annotation>
				<xsd:documentation>L'ID devient obligatoire</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:restriction base="SPType">
					<xsd:attribute name="ID" type="SPTypeID" use="required"/>
					<xsd:attribute name="HEIGHT" type="xsd:float" use="optional"/>
					<xsd:attribute name="WIDTH" type="xsd:float" use="optional"/>
					<xsd:attribute name="HPOS" type="xsd:float" use="optional"/>
					<xsd:attribute name="VPOS" type="xsd:float" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<!--                                   -->
		<xsd:simpleType name="ParagraphStyleID">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS LAD</xsd:documentation>
				<xsd:documentation>Ajout d'un pattern sur l'attribut ID</xsd:documentation>
				<xsd:documentation>exemple :  ID="TXT_1"</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="ParagraphStyleID">
				<xsd:pattern value="TXT_\d*"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                                   -->
		<xsd:simpleType name="PageID">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS LAD</xsd:documentation>
				<xsd:documentation>Ajout d'un pattern sur l'attribut ID</xsd:documentation>
				<xsd:documentation>exemple :  ID="PAG_00000002"</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="PageID">
				<xsd:pattern value="PAG_\d*"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                                   -->
		<xsd:simpleType name="BlockTypeID">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS LAD</xsd:documentation>
				<xsd:documentation>Ajout d'un pattern sur l'attribut ID</xsd:documentation>
				<xsd:documentation>exemple :  ID="PAG_00000002_TB000003"</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="BlockTypeID">
				<xsd:pattern value="PAG_\d*_(TB|IL|GE|CB)\d{6}"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                        -->
		<xsd:simpleType name="TextLineID">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS LAD</xsd:documentation>
				<xsd:documentation>Ajout d'un pattern sur l'attribut ID</xsd:documentation>
				<xsd:documentation>exemple :  ID="PAG_00000001_TL000004"</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="TextLineID">
				<xsd:pattern value="PAG_\d*_TL\d{6}"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                                           -->
		<xsd:simpleType name="StringTypeID">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS LAD</xsd:documentation>
				<xsd:documentation>Ajout d'un pattern sur l'attribut ID</xsd:documentation>
				<xsd:documentation>exemple :  ID="PAG_00000001_ST000011"</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="StringTypeID">
				<xsd:pattern value="PAG_\d*_ST\d{6}"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                              -->
		<!-- New BnF attributes -->
		<xsd:complexType name="StringType">
			<xsd:complexContent>
				<xsd:extension base="StringType">
					<xsd:annotation>
						<!--   TYPE    -->
						<xsd:documentation>Ajout CLE JPT du 18 janvier 2012 LAD</xsd:documentation>
						<xsd:documentation>A controlled string to identify the type of a string element.</xsd:documentation>
						<xsd:documentation>Ajout JPM du 4 avril 2014 : attribut déprécié. Utiliser plutôt le mécanisme des tags</xsd:documentation>
						<!--    WD      -->
						<xsd:documentation>Ajout LAD du 04 décembre 2007</xsd:documentation>
						<xsd:documentation>Specifies whether the word was found in the dictionary.</xsd:documentation>
					</xsd:annotation>
					<xsd:attribute name="TYPE" use="optional">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="illegible"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="WD" type="xsd:boolean" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
		<!--               -->
		<xsd:complexType name="GraphicalElementType">
			<xsd:annotation>
				<xsd:documentation>Ajout LAD du 7 novombre 2005</xsd:documentation>
				<xsd:documentation>A user defined string to identify the type of graphical element.</xsd:documentation>
				<xsd:documentation>Ajout JPM du 4 avril 2014 : attribut déprécié. Utiliser plutôt le mécanisme des tags</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="GraphicalElementType">
					<xsd:attribute name="TYPE" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
		<!--               -->
		<xsd:complexType name="TextBlockType">
			<xsd:annotation>
				<xsd:documentation>Ajout LAD du 7 novombre 2005</xsd:documentation>
				<xsd:documentation>A user defined string to identify the type of text block.</xsd:documentation>
				<xsd:documentation>Ajout JPM du 4 avril 2014 : attribut déprécié. Utiliser plutôt le mécanisme des tags</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="TextBlockType">
					<xsd:attribute name="TYPE" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
		<!--                              -->
		<!--                              -->
		<!-- Other BnF patterns -->
		<xsd:simpleType name="fileNameType">
			<xsd:annotation>
				<xsd:documentation>Modification LAD du 28 février 2006</xsd:documentation>
				<xsd:documentation>Syntaxe contrainte à une série de valeurs attendues</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="fileNameType">
				<xsd:pattern value="\d{8}.(TIF|tif|JPG|jpg)"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                              -->
		<xsd:simpleType name="MeasurementUnitType">
			<xsd:annotation>
				<xsd:documentation>Patch Ph. PRADOS :  pattern fixe</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="MeasurementUnitType">
				<xsd:pattern value="pixel"/>
			</xsd:restriction>
		</xsd:simpleType>
		<!--                              -->
		<!--                              -->
		<!-- Mandatory Attributs or Elements  -->
		<xsd:complexType name="StylesType">
			<xsd:annotation>
				<xsd:documentation>Modification LAD du 28 février 2006</xsd:documentation>
				<xsd:documentation>Elément TextStyle rendu obligatoire.</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:restriction base="StylesType">
					<xsd:sequence>
						<xsd:element name="TextStyle" type="TextStyleType" maxOccurs="unbounded"/>
						<xsd:element name="ParagraphStyle" type="ParagraphStyleType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<!--                              -->
		<!--                              -->
	</xsd:redefine>
</xsd:schema>
